//========================
// Config setup
//========================

// Font stack
$font-url--google: 'https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300';
$font-family--primary: 'Lato', 'Helvetica Neue', san-serif;

// Font weights
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;

// Base colors
$white: #fff;
$black: #002A2E;
$grey: #F5F6F7;
$green: #3D44BE;
$blue: #00B0EE;
$red: #FF3D32;
$yellow: #FFF3CA;

// Color usage
$color-primary: $blue;
$color-secondary: $blue;

// Advanced colour useage

$ui-colors: (
  primary: $green,
  secondary: $blue,
  success: $green,
  error: $red,
  warning: $red,
  info: $blue
);

// Social colors
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$tumblr: #32506d;
$instagram: #517fa4;
$dribbble: #ea4c89;
$github: #333;

// Font sizes
$base__font-size: 20px;
$base__line-height: 32px;

// Others
$border-radius: 8px;
$border-radius-round: 50px;
