// ==============================
// Main styles
// ==============================

.row {
  padding: em(40px) 0;
}

// Hero sections

.hero {
  @media (min-width: 1024px) {
    &:before, &:after {
      content: '';
      background-repeat: no-repeat;
      background-size: 100%;
      width: 250px;
      height: 250px;
      position: absolute;
    }
    &:after {
      background-image: url('../img/wireframe@2x.png');
      left: 0;
    }
    &:before {
      background-image: url('../img/code@2x.png');
      top: em(180px);
      right: 0;
    }
  }
  .thought {
    margin-bottom: em(-10px);
    z-index: 100;
    position: relative;
  }
  .avatar {
    @media (min-width: 1024px) {
      margin-bottom: em(50px);
    }
  }
}

.avatar {
  a {
    @include transition(.3s ease);
    &:hover {
      @include transition( .3s ease);
      opacity: 0.8;
      @include animation('zoom .5s');
    }
  }
  img {
    width: em(150px);
  }
}


// Content styling

.intro {
  .button {
    margin-bottom: 5px;
  }
}

blockquote > img {
  @media (max-width: 768px) {
    display: none;
  }
  width: em(105px);
  height: em(105px);
  float: left;
  border-radius: $border-radius-round;
  margin-right: em(30px)
}

.services {
  img {
    width: 100%;
    margin: em(40px) 0;
  }
}

ul.checklist {
  @media (min-width: 768px) and (max-width: 900px) {
    text-align: center;
  }
  @media (min-width: 900px) {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    width: 80%;
    margin: auto;
    padding-left: em(90px);
    margin-top: em(30px);
    text-align: left;
  }
  text-align: left;
  list-style: none;
  margin-left: 0;
  li {
    margin-top: em(10px);
  }
  i {
    color: $green;
    margin-right: em(10px);
  }
}

footer {
  text-align: center;
}

ul.social {
  list-style: none;
  font-size: em(36px);
  text-align: center;
  margin-left: 0;
  li {
    display: inline-block;
    margin: 0 em(3px);
  }
  a {
    color: $green;
    // Dribbble
    &:nth-child(1) {
      &:hover {
        color: $dribbble;
      }
    }
    // Github
    &:nth-child(2) {
      &:hover {
        color: $github;
      }
    }
    // LinkedIn
    &:nth-child(3) {
      &:hover {
        color: $linkedin;
      }
    }
  }
}

ul.share {
  a {
    // Twitter
    &:nth-child(1) {
      &:hover {
        color: $twitter;
      }
    }
    // Facebook
    &:nth-child(2) {
      &:hover {
        color: $facebook;
      }
    }
  }
}


// Callout

.callout {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  text-align: left;
  p {
    font-size: em(16px);
  }
  .divider {
    border-right: solid 1px $grey;
    height: em(150px);
    display: inline-block;
    float: right;
    position: absolute;
  }
  .right-padding {
    padding-right: em(50px);
  }
}


// Newsletter

p.followon {
  font-weight: 400;
  font-style: italic;
  color: $blue;
}

.bio {
  img {
    width: 120px;
    margin-bottom: em(10px);
  }
  em {
    display: block;
  }
}

.logos > img {
  &:first-child {
    top: 10px;
  }
}
