body {
  font-family: Verdana, sans-serif;
  font-size: 18px;
  background-color: black;
  color: white;
  text-align: center;
}

/* Typography */

h1 {
 font-size: 50px;
}

h2 {
  font-size: 21px;
  color: gray;
  font-weight: normal;
  line-height: 1.5;
}

h3 {
}

a {
}

p {
  font-size: 21px;
  color: #424242;
  font-weight: normal;
  text-align: right;
  padding-right: 30px;
}

a {
color: aquamarine;
text-decoration: underline;
}

/* Sections */

.title {
 padding-top: 30px;
 padding-bottom: 50px;
}

.footer {
  background-color: #1C1C1C;
  padding-top: 15px;
  padding-bottom: 15px;
}

#phone {
  padding-top: 30px;
}
