* {
  font-family: "aglet-slab", serif;
  color: #14246C;
  margin: 0;
}

/* Typography */

h1 {
  font-size: 75px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 35px;
  padding-bottom: 10px;
}

h4 {
  font-size: 20px;
}

p, ul, li {
  font-size: 20px;
}

/* graphics */

img {
  max-width: 200px;
  max-heigh: 200px;
  border-radius: 100px;
}

ul {
  padding-top: 30px;
}
/* Sections */

.detail {
  font-weight: lighter;
  color: #F137A6;
  display: inline-block;
  float: right;
  padding-top: 20px;
}

.col {
  margin: auto;
  max-width: 750px;
  padding-top: 100px;
}

.content-block {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.title {
  display: inline-block;
  float: right;
  padding-top: 35px;
  padding-right: 110px;
}

.date {
  color: #B9BED3;
}

.pattern_bar {

}
.section {
  padding-top: 40px;
}

#sub-title {
  padding-top: 1px;
  float: left;
}
