/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 22px;
  background-color: #171719;
}

/* ROOT FONT STYLES */

* {
  font-family: "Merriweather", serif;
  color: seashell;
  line-height: 1.3;
  font-weight: light;
}

/* TYPOGRAPHY */

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

.small {
  font-size: 0.8rem;
}

/* Main navigation */

.navigation  {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.navigation li {
  display: inline-flex;
  padding-left: 50px;
}

.navigation  ul {
  float: right;
  padding-right: 100px;
}

.navigation a {
  text-decoration: none;
}

.navigation a:hover {
  color: #a09d9a;
}

.logo {
  display: inline;
  color: #F137A6;
  height: 50px;
  padding-right: 400px;
}

/* Hero Section */

.hero {
  background-image: url("../img/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  margin-top: 40px;
}

.banner {
  background-color: #1f1f23;
  width: 70%;
  padding: 20px 20px 20px 70px;
  position: relative;
  top: 200px;
}

/* Bullet Boxes */

.title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.title h1 {
  margin-bottom: 0px;
}

.title h2 {
  margin-top: 10px;
}

.bullet-boxes {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: auto;
}

.box img {
  max-width: 300px;
}

.box {
  margin: 10px;
}

/* Three tiered info section */

.three-tier-section {
  background-image: url("../img/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}

.tier {
  background-color: #1f1f23;
  max-width: 200px;
  margin: 30px;
  padding: 40px;
  height: 270px;
}

.tier p {
  margin: 0px;
}

.tier h2 {
  margin-bottom: 20px;
  margin-top: 0px;
}

/* footer */

footer {
  opacity: 0.2;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer img {
  height: 50px;
}

footer p {
  margin: 5px;
}
