/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {@
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 20px;
  background: #FAFAFA;
}

/* ROOT FONT STYLES */

* {
  font-family: "aglet-slab"	, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #2A2E33;
  line-height: 1.2;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
    font-family: "aglet-slab",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #292b2f;
    line-height: 1.2;
    letter-spacing: 1px;
  }


h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 25px;
  font-weight: 200;
  line-height: 1.5;
}

a {
  font-size: 25px;
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: #1CA5FC;
}

li {
  font-size: 25px;
  padding-bottom: 0.4em;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  color: #9da1b1;
}

.underline {
  background-color: #C3E8FF;
  width: 220px;
  height: 15px;
  position: relative;
  left: -3px;
  bottom: -40px;
  z-index: -1;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* universal block */

.block {
  margin-top: 3em;
}

/* Navigation */

.nav ul li {
  list-style: none;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  font-size: 1em;
  padding-left: 1em;
  color: inherit;
  font-weight: bold;
}

.nav ul {
  float: right;
  padding-top: 2em;
}

#logo-link {
  padding-left: 0em;
}

@media only screen and (max-width: 511px) {

  .nav ul {
    padding-top: 1.4em;
  }

  .nav li {
    padding-bottom: 0em;
  }
}

/* Hero */

.hero-title {
  padding-top: 6.5em;
  max-width: 45%;
}

.hero-image {
  max-width: 45%;
  float: right;
  transform: rotate(5deg);
}


@media only screen and (max-width: 1125px) {

  .hero-title {
    padding-top: 3.5em;

  }

  h1 {
    font-size: 45px;
  }
  .hero-title h3 {
    font-size: 25px;
  }

  .hero-image {


  }
}


@media only screen and (max-width: 768px) {

  .hero-title {
    padding-top: 1em;
    max-width: 100%;
  }

  .hero-title h1 {
    font-size: 45px;
  }
  .hero-title h3 {
    font-size: 25px;
  }

  .hero-image {
    float: none;
    max-width: 100%;
    transform: rotate(0deg);
  }


}


/* forms */

button {
  height: 2.4375rem;
  padding: .5rem;
  background-color: #1CA5FC;
  color: white;
  width: 100%;
}

input[type=text] {
  background-color: #F2F1ED;
  box-shadow: none;
  border: none;
}

input[type=text]:focus {
  background-color: #F2F1ED;
  box-shadow: none;
  border: none;
}

textarea {
  background-color: #F2F1ED;
  box-shadow: none;
  height: 8em;
  border: none;
}

textarea:focus {
  background-color: #F2F1ED;
  box-shadow: none;
  height: 8em;
  border: none;
}

input[type=text]::placeholder {
    color: #87898B;
    opacity: 1;
}

textarea::placeholder {
  color: #87898B;
  opacity: 1;
}

#contact-form {
  margin-bottom: 4em;
}

/* dual-info-block */


.dual-info-block h1 {
  padding-top: 0.2em;

}

.info-block {
  margin-bottom: 2em;
}

.info-block ol, ul {
  margin-left: 1.3rem;
}

.info-block p {
  margin-bottom: 0.3em;
}

.info-block a {
  padding-top: 1em;
}

.info-block h3 {
  padding-bottom: 0.3em;
}

/* Article */

.article h1 {
  font-weight: 700;
}

.article h2 {
  font-weight: 700;
}

.article h3 {
  font-weight: 700;
}

.article h4 {
  font-weight: 700;
}

.article {
  padding-bottom: 4em;
}

/* email-optin */

.email-optin {
  padding-bottom: 4em;
}

/* teaser-block */

.teaser-block h4 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.teaser-block h1 {
  padding-bottom: 0.5em;
}

.teaser-box {

}

/* footer */


.footer {
  padding-top: 4em;
  padding-bottom: 2em;
  color: #A5A5A5;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  color: inherit;
}

.footer a {
  text-decoration: none;
  font-size: 1em;
  padding-left: 1em;
  color: #A5A5A5;
}

.footer p {
  color: #A5A5A5;
}

.footer ul {
  padding-top: 0em;

}

/*  Blog home */

figure {
  margin: 0em 0em 1em 0em;
}

#blog-home a {
  text-decoration: none;
}

#blog-home {
  margin: 5em 0em 5em 0em;
}

.teaser {
  margin-bottom: 3em;
}

.teaser h3 {
  font-weight: 700;
}


/*  Blog posts */

#blog-post {
  margin: 5em 0em 5em 0em;
}

#blog-post h1, #blog-post h2, #blog-post h3, #blog-post h4,  {
  font-weight: 700;
}

#blog-post img {
  margin-bottom: 1em;
}






